.container {
  display: flex;
  justify-content: center;
}
.todoList {
  width: 70%;
  padding: 20px;
  font-size: large;
  list-style: none;
}

.deleteButton {
  background-color: red;
  color: white;
  padding: 3px;
  outline: none;
  border: none;
  font-size: medium;
}
.deleteButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .todoList {
    width: 100%;
    font-size: medium;
    padding: 5px;
  }
}
