.container {
  display: flex;
  justify-content: center;
}
.todoList {
  width: 70%;
  padding: 20px;
  font-size: large;
  list-style: none;
}

@media screen and (max-width: 750px) {
  .todoList {
    width: 100%;
    font-size: medium;
    padding: 5px;
  }
}
